body { background: #fff; font-size: 1.6rem; }
.inner { max-width: 1200px; margin: 0 auto; padding: 0 20px; }
body.popup { max-height: 100vh; overflow-y: hidden; }

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
    --kr-font: "Noto Sans KR", sans-serif;
    --en-font: "Roboto Slab", serif;
}

.btn_more { font-size: 1.6rem; border: 1px solid #232323; width: 150px; text-align: center; height: 40px; line-height: 40px; position: relative; transition: all 0.5s;  }
.btn_more::after { content: ""; width: 100%; height: 0; background: #232323; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); transition: all 0.5s; z-index: -1; }
.btn_more:hover { color: #fff; }
.btn_more:hover::after{ height: 100%; }

.new, .limit { position: absolute; left: 0; top: 0; background: rgb(121, 121, 121); text-transform: uppercase; padding: 5px 15px; color: #fff; font-size: 1.4rem; z-index: 2; }

.line_top { position: absolute; left: 0; top: 0; background: #000; width: 0; height: 1px; transition: all 1s; }
.line_left { position: absolute; left: 0; top: 0; background: #000; width: 1px; height: 0; transition: all 1s; }
.line_bottom { position: absolute; right: 0; bottom: 0; background: #000; width: 0; height: 1px; transition: all 1s; }
.line_right { position: absolute; right: 0; bottom: 0; background: #000; width: 1px; height: 0; transition: all 1s; }

#header { padding: 20px 0; text-align: center; width: 100%; height: 150px; margin: 0 auto; background: transparent; position:fixed; top: 0; left: 50%; transform: translateX(-50%); z-index: 99; background: transparent; transition: all 0.3s; color: #fff; z-index: 3; }
#header:hover { background: #fff; color: #000; }
#header.active { background: #fff; color: #000; }
#header h1 { background: url(../img/imgi_1_logo-white.png) no-repeat center; width: 150px; height: 50px; background-size: 100%; justify-self: center; transition: all 0.5s; font-size: 0; }
#header h1 a { display: block; width: 100%; height: 100%; }
#header:hover h1 { background: url(../img/imgi_2_logo.png) no-repeat center; background-size: 100%; }
#header.active h1 { background: url(../img/imgi_2_logo.png) no-repeat center; background-size: 100%; }
#header nav { justify-self: center; padding-top: 20px; }
#header .gnb { width: 400px; display: flex; justify-content: space-between; }
#header .gnb li { cursor: pointer; position: relative; height: 25px; }
#header .gnb li::after { content: ""; position: absolute; left: 50%; bottom: -2px; width: 0; height: 2px; background: #000; transform: translate(-50%); transition: all 0.5s; }
#header .gnb li:hover::after { width: 100%; }
#header .gnb li.active::after { width: 100%; }

#header .search { background: url(../img/icon-search-white.svg) no-repeat center; width: 20px; height: 20px; cursor: pointer; position: absolute; right: 5vw; top: 30px; }
#header:hover .search { background: url(../img/icon-search-black.svg) no-repeat center; }
#header.active .search {background: url(../img/icon-search-black.svg) no-repeat center;}

/* 좌측버튼 */
#header .btn_right { position: absolute; left: 5vw; top: 30px; height: 20px; display: flex; align-items: center;  }
#header .world { background: url(../img/world.svg) no-repeat center; background-size: 100%; width: 20px; height: 20px; cursor: pointer; filter: invert(1); transition: all 0.5s; margin-left: 30px; }
#header:hover .world { filter: invert(0); }
#header.active .world { filter: invert(0);}
#header .btn_ham { width: 25px; height: 20px; position: relative; background: transparent; text-align: left; cursor: pointer; filter: invert(1); display: none; }
#header .btn_ham::before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 2px; background: #000; transition: all 0.5s; }
#header .btn_ham div { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; height: 2px; background: #000; }
#header .btn_ham::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #000; transition: all 0.5s; }
#header .btn_ham.active::after { transform: rotate(45deg); top: 50%; }
#header .btn_ham.active div { display: none; }
#header .btn_ham.active::before { transform: rotate(-45deg); top: 50%; }
#header:hover .btn_ham { filter: invert(0); }
#header.active .btn_ham { filter: invert(0); }

#header .menu { background: #fff; width: 100%; text-align: left; padding: 50px 100px 70px; font-size: 2rem; display: grid; grid-template-columns: 250px auto; gap: 100px; color: #000; box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px; z-index: 2; }
#header .menu ul li { position: relative; cursor: pointer; display: block; height: 60px; line-height: 60px; }
#header .menu li span { display: inline-block; }
#header .menu li span::after { content: ""; display: block; width: 0; height: 2px; background: #000; transition: all 0.5s; }
#header .menu li:hover span::after { width: 100%; }
#header .menu ul li.active { color: #f00; }
#header .menu ol { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 2vw; position: relative; align-items: center; }
#header .menu ol h3 { display: block; position: absolute; left: 0; top: -20px; }
#header .menu ol li { padding: 30px 0; text-align: center; line-height: 50px; }
#header .menu ol li img { width: 100%; height: 100%; }

#header .menu .maison { grid-template-columns: 1fr 1fr 1fr; }
#header .menu .maison { position: relative;}
#header .menu .maison p { position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); }

#header .menu .service { grid-template-columns: 1fr 1fr 1fr; }
#header .menu .service li img { height: 100%; aspect-ratio: 16 / 12; }

#header .menu ol li div { overflow: hidden; }
#header .menu ol li div img { transition: all 0.5s; }
#header .menu ol li:hover img { transform: scale(1.1); }
#header .menu ol li a { position: relative; }


/* 햄버거 메뉴 */
#header .mgnb { background: #fff; color: #000; text-align: left; padding: 0 20px 50px; font-size: 2rem; }
#header .mgnb > ul { display: grid; grid-template-columns: 1fr; gap: 0; }
#header .mgnb > ul > li { border-bottom: 1px solid #000; padding: 15px 0; }

#header .mgnb_category { display: flex; justify-content: space-between; cursor: pointer; }
#header .mgnb_category img { width: 20px; height: 20px; transform: rotate(180deg); transition: all 0.5s; }
#header .mgnb_category.active img { transform: rotate(0); }

#header .sub_menu { background: #fff; width: 100%; text-align: left; font-size: 2rem; display: none; color: #000; z-index: 2; border-top: 1px solid #000; margin-top: 15px; }
#header .sub_menu ul li { position: relative; cursor: pointer; display: block; height: 60px; line-height: 60px; }
#header .sub_menu li span { display: inline-block; }
#header .sub_menu li span::after { content: ""; display: block; width: 0; height: 2px; background: #000; transition: all 0.5s; }
#header .sub_menu li:hover span::after { width: 100%; }

#header .sub_menu .depth2 { display: flex; justify-content: space-between; gap: 20px; text-align: center; padding-top: 20px; align-items: center; }
#header .sub_menu .depth2 li img { width: 100%; }



/* 검색창 */
#header .search_menu { position: absolute; top: 0; left: 0; width: 100%; background: rgba(255, 255, 255); color: #232323; height: 400px; font-size: 3rem; }
#header .search_menu form { height: 100%; position: relative; }
#header .search_menu fieldset { height: 100%; display: flex; align-items: center; justify-content: center; }
#header .search_menu input { height: 60px; width: 50%; outline: none; background: transparent; border-bottom: 1px solid #232323; }
#header .search_menu .btn_search { background: url(../img/icon-search-black.svg) no-repeat center; background-size: 50%; height: 60px; width: 60px; cursor: pointer; }
#header .search_menu .btn_close { background: url(../img/close.svg) no-repeat center; background-size: 50%; height: 60px; width: 60px; cursor: pointer; position: absolute; right: 3vw; top: 10px; }

/* 언어창 */
#header .language { position: fixed; left: 0; top: 0; width: 100%; height: 100vh; font-family: var(--en-font); }
#header .language .dim { width: 100%; height: 100%; background: #000; opacity: 0.8; position: relative; }
#header .language .lang_wrap { width: 60%; height: 680px; background: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 30px 0; overflow-y: auto; }
#header .language .lang_wrap h2 { font-family: var(--kr-font); }

#header .language .region { display: flex; justify-content: space-between; flex-wrap: wrap; padding: 30px 0; border-bottom: 1px solid #232323; margin: 0 30px; align-items: center;  }
#header .language .region li { transition: all 0.5s; padding: 10px 0; cursor: pointer; display: flex; align-items: center; justify-content: center; width: calc(100% / 5 - 20px); height: 40px; }
#header .language .region li:hover { background: #000; color: #fff; }
#header .language .region li.active { background: #000; color: #fff; }
#header .language ol { display: flex; justify-content: flex-start; flex-wrap: wrap; gap: 50px; padding: 30px 0; margin: 0 30px; border-bottom: 1px solid #232323; }
#header .language ol li { width: calc(100% / 5); cursor: pointer; }
#header .language .btn_close { position: absolute; right: 30px; top: 30px; background: url(../img/close.svg) no-repeat center; width: 50px; height: 50px; background-size: 50%; font-size: 0; cursor: pointer;}


/* 서브헤더 색반전 */
#header.sub { background: #fff; color: #000; }
#header.sub h1 { background: url(../img/imgi_2_logo.png) no-repeat center; background-size: 100%; }
#header.sub .search {background: url(../img/icon-search-black.svg) no-repeat center;}
#header.sub .world { filter: invert(0);}
#header.sub h3 { font-family: var(--kr-font); }
#header.sub .btn_ham { filter: invert(0); }

#footer { background: #232323; color: #fff; padding: 20px 0; }
#footer .footer_txt { display: flex; justify-content: space-between; align-items: center; }
#footer .footer_txt a img { width: 70px; }

#footer .footer_left .call { background: url(../img/mobile.svg) no-repeat center; width: 20px; height: 20px; filter: invert(1); background-size: 100%; cursor: pointer; }
#footer .footer_left div { display: inline-block; margin-top: 20px; height: 30px; align-self: center; }


#footer .footer_txt .footer_right .sns_list div { padding: 20px 0; }
#footer .footer_txt .footer_right .sns_list a:nth-child(3) { margin: 0 20px; }
#footer .footer_txt .footer_right .sns_list a { display: inline-block; border: 1px solid #fff; width: 35px; height: 35px; border-radius: 50px; text-align: center; line-height: 30px; transition: all 0.5s; }
#footer .footer_txt .footer_right .sns_list a img { width: 20px; filter: invert(1); transition: all 0.5s; }
#footer .footer_txt .footer_right .sns_list a:hover { background: #fff; }
#footer .footer_txt .footer_right .sns_list a:hover img { filter: invert(0); }



#footer .footer_right p { display: block; padding-bottom: 15px; }
#footer .footer_right input { height: 40px; padding: 5px; outline: none; }
#footer .footer_right button { width: 40px; height: 40px; }

@media (max-width:1200px){
    #header .language .lang_wrap { width: 100%; }
}


@media (max-width:1000px){
    #header .menu { grid-template-columns: 1fr; gap: 50px; }
    #header .search_menu input { width: 80%; }
}

@media (max-width:700px){
    #footer { font-size: 1.2rem; }
    #footer .footer_right input { width: 70%; }
    #header .language .region { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 30px; }
    #header .language .region li { width: 100%; }
}
@media (max-width:650px){
    #header { height: 100px; }
    #header .gnb { display: none; }
    #header .btn_ham { display: inline-block; }
    #header nav { width: 100%; }
    #header .gnb { width: 100%; padding: 0 40px; }
    #header .menu { padding: 20px; gap: 30px; font-size: 1.6rem; }
}
@media (max-width:400px){
    #footer .footer_txt { display: grid; grid-template-columns: 1fr; }
    #footer .footer_txt a { order: -1; }
    #footer .footer_txt > a img { width: 50px; height: 50px; }
}
