body { font-family: "Noto Sans KR", sans-serif; background: #fafafa;}


h2 { font-size: 4rem; padding-bottom: 50px; font-family: var(--en-font); }
h2::before { content: ""; display: inline-block; width: 50px; height: 50px; background: url(../img/imgi_21_small-logo-black.png) no-repeat center; background-size: 150%; justify-self: center; transform: translateY(10px); }

.main_visual video { object-fit: cover; width: 100%; height: 100vh; z-index: -1; position: relative; }
.main_visual .mv_txt { position: absolute; left: 50%; bottom: 5vw; color: #fff; text-align: center; transform: translateX(-50%); width: 100%; }
.main_visual .mv_txt .btn_more { justify-self: center; margin-top: 50px; border: 1px solid #fff; background: transparent; color: #fff; transition: all 0.5s; }
.main_visual .mv_txt h2 { display: block; max-width: 700px; width: 80%; justify-self: center; font-family: var(--kr-font); }
.main_visual .mv_txt h2::before { display: none; }
.main_visual .mv_txt p { font-family: var(--en-font); font-size: 2rem; }
.main_visual .mv_txt .btn_more::after { content: ""; width: 100%; height: 0; background: #fff; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); transition: all 0.5s; z-index: -1; }
.main_visual .mv_txt .btn_more:hover { color: #232323; }
.main_visual .mv_txt .btn_more:hover::after{ height: 100%; }


.collection_list { padding: 100px 0; text-align: center; }
.collection_list h3 { font-size: 1.8rem; font-weight: 500; padding-bottom: 70px; }
.collection_list ul { display: flex; justify-content: space-between; gap: 30px;}
.collection_list ul li { width: 100%; text-align: center;}
.collection_list ul li div  { width: 100%; height: 100%; overflow: hidden; }
.collection_list ul li img  { transition: all 0.5s; }
.collection_list ul li:hover img  { transform: scale(1.25); }
.collection_list ul li a { display: block; width: 100%; }
.collection_list ul li p { display: block; transition: all 0.5s; }
.collection_list ul li img { width: 100%; height: 340px; }
.collection_list ul li b { display: block; font-size: 2rem; display: block; padding: 15px 0; }


.item_main { padding: 50px 0 0; }
.item_main .item_wrap { display: grid; grid-template-columns: 1fr 1fr; gap: 50px; position: relative; }
.item_wrap:nth-child(1) { padding-bottom: 150px; }
.item_main img { width: 100%;  }

.item_main .right { font-size: 1.6rem; display: grid; gap: 40px; }
.item_main .right_txt { display: grid; gap: 20px; }
.item_main .right_txt strong { font-size: 2.8rem; }
.item_main .item_wrap:nth-child(2) .btn_more { justify-self: right; }
.item_wrap:nth-child(2) strong { font-family: var(--en-font); }

.riviera_txt { position: absolute; left: 60px; bottom: 100px; width: 600px; background: #f9f9f9; padding: 50px 30px; font-size: 1.6rem; box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px; }
.hampton_txt { position: absolute; right: 60px; bottom: 150px; width: 600px; background: #f9f9f9; padding: 50px 30px; font-size: 1.6rem; box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px; }


.new_item video { object-fit: cover; width: 100%; height: 100vh; z-index: -1; }
.new_item .new_video { position: relative; padding-bottom: 50px; }
.new_item .new_txt { position: absolute; left: 50%; bottom: 10vw; color: #fff; text-align: center; transform: translateX(-50%); font-family: var(--en-font); }
.new_item .new_txt h2 { font-family: var(--kr-font); }
.new_item .new_txt .btn_more { justify-self: center; margin-top: 50px; border: 1px solid #fff; background: transparent; color: #fff; transition: all 0.5s; font-family: var(--kr-font); }
.new_item .new_txt h2::before { display: none; }
.new_item .new_txt .btn_more::after { content: ""; width: 100%; height: 0; background: #fff; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); transition: all 0.5s; z-index: -1; }
.new_item .new_txt .btn_more:hover { color: #000; }
.new_item .new_txt .btn_more:hover::after{ height: 100%; }


.new_item { text-align: center; padding-top: 100px; }
.new_item .inner { max-width: 1440px; }
.new_item ul { display: flex; justify-content: space-between; gap: 50px;}
.new_item ul li { width: 100%; text-align: center; line-height: 35px; overflow: hidden; position: relative; font-family: var(--en-font); }
.new_item ul li p { transition: all 0.5s; }
.new_item ul li:hover p { opacity: 0; }
.new_item ul li:hover .btn_more { transform: translateY(-80px); opacity: 1; }
.new_item ul li .btn_more { justify-self: center;  opacity: 0; transition: all 1s; font-family: var(--kr-font); }
.new_item ul li img { width: 100%; }
.new_item ul li b { font-size: 2rem; }


.new_item ul li:hover .line_top, .new_item ul li:hover .line_bottom { width: 100%; }
.new_item ul li:hover .line_left, .new_item ul li:hover .line_right { height: 100%; }



.main_service { text-align: center; padding: 50px 0 150px; }
.main_service .inner { max-width: 1440px; }
.main_service ul { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 30px; }
.main_service ul li a div { width: 100%; overflow: hidden;}
.main_service ul li span { display: inline-block; font-size: 2rem; padding-top: 30px; }
.main_service ul li img { width: 100%; transition: 0.5s all; aspect-ratio: 4 / 3; }
.main_service ul li:hover img { transform: scale(1.1); }
.main_service ul li span::after { content: ""; width: 0; height: 2px; display: block; background: #000; transition: all 0.5s; }
.main_service ul li:hover span::after { width: 100%; }


@media (max-width:900px){
    h2 { font-size: 3rem; }
    .item_main { padding: 0; }
    .collection_list ul { display: grid; grid-template-columns: 1fr 1fr;}
    .collection_list ul li img { height: 100%; }
    .collection_list .collection_item { max-width: 800px; }
    .item_main .item_wrap { grid-template-columns: 1fr; gap: 30px; }
    .riviera_txt { position: static; background: transparent; padding: 0; font-size: 1.6rem; box-shadow: none; width: 100%; }
    .hampton_txt { position: static; background: transparent; padding: 0; font-size: 1.6rem; box-shadow: none; width: 100%; }
    .item_main .item_wrap .left { order: 2; }
    .new_item ul { display: grid;  grid-template-columns: 1fr 1fr; gap: 30px;}
    .main_service ul { grid-template-columns: 1fr; }
    .item_main .item_wrap .btn_more { justify-self: center; }
    .item_main .item_wrap:nth-child(2) .btn_more { justify-self: center; }
    .main_service { padding: 50px 0 100px; }
    .item_wrap:nth-child(1) { padding-bottom: 50px; }
    .item_main .right_txt strong { font-size: 2rem; }
}

@media (max-width:600px){
    h2 { font-size: 2rem; }
    .new_item .new_txt { bottom: 25vw; }
}

@media (max-width:500px){
    .main_visual .mv_txt { bottom: 200px; }
}